.background {
    width: 100%;
    /* padding-top: 250px; */
    padding-bottom: 250px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-icon {
    padding: 0px 14px;
    color: rgba(255, 255, 255, 1);
    transition: color 0.25s ease;
}

.mat-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.sidenav-enter_image {
    width: 120px;
}

.sidenav-enter_image_container {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;
    cursor: pointer;
}

.mat-toolbar.mat-primary {
    background-color: transparent;
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 256px;
}

.mat-list-item {
    display: flex;
    flex-direction: column;
}

.mat-list-item-content {
    display: flex;
    flex-direction: column;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    flex-direction: column;
}

.sidenav-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(60, 60, 60, 1);
}

.sidenav-item-header {
    font-size: 15px;
    font-weight: 500;
}

.sidenav-item-subtitle {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidenav-item-icon {
    transform: scale(0.85);
    padding-left: 0px;
    padding-right: 8px;
}

.sidenav-content {
    background: #621f52 linear-gradient(135deg, #9e5767 0%, #6c1757 50%, #23275c 100%);
}

.mat-list-base {
    padding: 0px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 64px;
}

.mat-drawer {
    background-color: rgba(38, 38, 38, 1);
    border: none;
}