<footer class="footer" >
    <div fxHide.xs class="footer-content" fxLayout="row" fxLayoutAlign="space-evenly start" fxLayoutGap="60px">
        <div fxLayout="column" fxLayoutAlign="space-between start" class="footer-left">
            <img class="enter_image" src="assets/logo-slogan-footer.svg" alt="Enter logo">
            <div class="mat-caption">
                <div class="icon_text"><mat-icon>call</mat-icon>+31 (0)40 214 1020</div>
                <div class="icon_text"><mat-icon>email</mat-icon>info@enter-group.nl</div>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between none" class="footer-right">
            <div [ngClass.md]="'mat-h2 enter-slogan'" class="mat-h1 enter-slogan">
                We believe in the potential of people to push technology further.
            </div>

            <div id="redirect_container" fxLayout="row" fxLayoutAlign="space-between none">
                <div fxLayout="column" fxLayoutAlign="none none" class="mat-body-2">
                    <a href="https://www.enter-group.nl/en/">HOME</a>
                    <a href="https://www.enter-group.nl/en/vacancies/">VACANCIES</a>
                    <a href="https://www.enter-group.nl/en/news-and-media/">NEWS</a>
                </div>

                <div fxLayout="column" fxLayoutAlign="none none" class="mat-body-2">
                    <a href="https://www.enter-group.nl/en/profession-areas/">PROFESSION AREAS</a>
                    <a href="https://www.enter-group.nl/en/about-enter/">ABOUT ENTER</a>
                    <a href="https://www.enter-group.nl/en/contact/">CONTACT</a>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between none">
                    <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap.lt-md="0px" fxLayoutGap.gt="15px">
                        <a href="https://twitter.com/ENTER_NL">
                            <img src="assets/icons8-twitter.svg" alt="Twitter icon" class="icon_social_media">
                        </a>

                        <a href="https://www.youtube.com/user/entergroupNL">
                            <img src="assets/play-button.svg" alt="Youtube icon" class="icon_social_media">
                        </a>
                        
                        <a href="https://www.facebook.com/techwithaheartbeat/">
                            <img src="assets/facebook.svg" alt="Facebook icon" class="icon_social_media">
                        </a>

                        <a href="https://www.linkedin.com/company/enter-bv">
                            <img src="assets/linkedin.svg" alt="Linkedin icon" class="icon_social_media">
                        </a>
                    </div>
                    <div class="mat-caption copyright">Copyright 2020 ENTER. <br>All Rights Reserved.</div>
                </div>
                
            </div>
        </div>

    </div>


    <div fxHide.gt-xs class="footer-content" fxLayout="row" fxLayoutAlign="space-evenly start">
        <div fxLayout="column" fxLayoutAlign="space-between start" class="footer-left">
            <img class="enter_image" src="assets/logo-slogan-footer.svg" alt="Enter logo">
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between none" class="footer-right">
            <div id="redirect_container" fxLayout="row" fxLayoutAlign="space-between none">
                <div fxLayout="column" fxLayoutAlign="space-between none">
                    <div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap.lt-md="0px" fxLayoutGap="15px" >
                        <a href="https://twitter.com/ENTER_NL">
                            <img src="assets/icons8-twitter.svg" alt="Twitter icon" class="icon_social_media">
                        </a>

                        <a href="https://www.youtube.com/user/entergroupNL">
                            <img src="assets/play-button.svg" alt="Youtube icon" class="icon_social_media">
                        </a>
                        
                        <a href="https://www.facebook.com/techwithaheartbeat/">
                            <img src="assets/facebook.svg" alt="Facebook icon" class="icon_social_media">
                        </a>

                        <a href="https://www.linkedin.com/company/enter-bv">
                            <img src="assets/linkedin.svg" alt="Linkedin icon" class="icon_social_media">
                        </a>
                    </div>
                    <div class="mat-caption copyright">Copyright 2020 ENTER. <br>All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
