.button {
    background-image: linear-gradient(135deg, #9e5767 0%, #6c1757 100%);
    border: 0px solid;
    padding: 0px 30px;
    transition: all 0.25s ease;
}

.button:hover {
    box-shadow: 0px 0px 10px #86395f;
}

.button:hover:disabled {
    box-shadow: unset;
}

.button:disabled {
    background-image: unset;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mat-form-field {
    width: 300px;
}

.mat-icon {
    padding: 0px 14px;
    color: rgba(255, 255, 255, 1);
    transition: color 0.25s ease;
}

.mat-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.mat-toolbar.mat-primary {
    background-color: transparent;
}

.mat-list-item {
    display: flex;
    flex-direction: column;
}

.mat-list-item-content {
    display: flex;
    flex-direction: column;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    flex-direction: column;
}

.sidenav-content-container {
    color: white;
    margin-top: 75px;
    background-color: rgba(48, 48, 48, 0.6);
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.mat-list-base {
    padding: 0px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    padding: 20px 0px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 5%;
}

td.mat-cell {
    font-size: 12px;
    /* font-weight: 300; */
}

.mat-elevation-z8 {
    overflow-x: auto;
}

.mat-table.mat-table {
    min-width: 1400px;
}

.table-remark-window .hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.table-expanded_row {
    height: 0;
}

.table-expanded_row-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table-expanded_row-button-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.table-row {
    /* cursor: pointer; */
    /* transition: all 0.1s ease; */
    background-color: none;
}

.table-row:hover {
    background-color: rgba(105, 240, 174, 0.6);
}

.sidenav-title-icon {
    transform: scale(1.5);
    height: 27px;
}

.sidenav-subtitle {
    color: #69f0ae;
}

.sidenav-subtitle-2 {
    color: rgba(255, 255, 255, 0.7);
}

.table-paginator {
    width: 100%;
}

.create-list {
    list-style: none;
    padding: 0px;
}

.create-list-item {
    padding: 10px;
}

.create-list-item:hover {
    background-color: white;
}

.create-list-icon {
    margin-left: auto;
    margin-right: 0px;
}

.stepper-container {
    visibility: visible;
    opacity: 1;
    max-height: 600px;
    transition: max-height 0.25s ease, visibility 0.5s ease, opacity 0.5s ease;
}

.stepper-container.hidden {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
}

.table-image {
    width: 50px;
    height: auto;
}

@media screen and (max-width: 599px) {
    .sidenav-content-container {
        margin-top: 25px;
    }
    .events {
        font-size: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sidenav-title-icon {
        transform: scale(1.25);
    }
    .sidenav-subtitle {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1279px) {
    .sidenav-content-container {
        color: white;
        /* padding: 168px 20px; */
        padding: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .sidenav-content-container {
        color: white;
        /* padding: 168px 112px; */
        padding: 16px;
        max-width: 2400px;
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media screen and (min-width: 1920px) {
    .sidenav-content-container {
        color: white;
        /* padding: 168px 112px; */
        padding: 16px;
        /* max-width: 1500px;
        margin-left: auto;
        margin-right: auto; */
        margin-left: 75px;
        margin-right: 75px;
    }
}