<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <mat-icon class="toolbar-icon" matTooltip="Login" (click)="this.reroute('/login')">account_circle</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="background">
    <div class="form-content" fxLayout="column" fxLayoutAlign="center center">
        <img class="enter_image" src="assets/logo-slogan-footer.svg" alt="Enter logo">

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="get_started_container">
            <mat-form-field class="select-event" appearance="outline" color="accent">
                <mat-label>Select an event</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="this.on_selection_change($event)">
                    <mat-option *ngFor="let item of this.university_data; let i = index;" value={{item.id}}>{{this.university_data[i]?.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button class="button" type="button" (click)="this.reroute('/job-fair-form')" [disabled]="this.disabled">
                GET STARTED
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <div #cards_ref fxLayout="row wrap" fxLayoutAlign="center stretch" class="card-container" fxLayoutGap="20px" fxLayoutGap.xs="0px">
            <ng-container *ngIf="this.show_all; else show_few">
                <div [@show_all] *ngFor="let item of this.university_data; let i = index;" [ngStyle]="{background: this.gradients[i]}" class="card-content" id="{{this.university_data[i].id}}" fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-md="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(100%)" fxFlex.xs="0 1 calc(100%)">
                    <img class="image-eindhoven" [src]="this.university_data[i]?.image" alt="Enter logo">
                    <div class="card-title">{{this.university_data[i]?.location}}</div>
                    <div class="card-university mat-body-strong">{{this.university_data[i]?.name}}</div>
                    <div class="card-circle"></div>
                    <div class="card-inner_circle">
                        <img class="image-eindhoven_logo" [src]="this.university_data[i]?.icon" alt="tu_eindhoven logo">
                    </div>
                </div>
            </ng-container>
            <ng-template #show_few>
                <ng-container *ngFor="let item of this.university_data; let i = index;">
                    <div [@show_few] *ngIf="!this.show_all && i<3" [ngStyle]="{background: this.gradients[i]}" class="card-content .test-content" id="{{this.university_data[i].id}}" fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-md="0 1 calc(33.3% - 14px)" fxFlex.lt-md="0 1 calc(100%)" fxFlex.xs="0 1 calc(100%)">
                        <img class="image-eindhoven" [src]="this.university_data[i]?.image" alt="Enter logo">
                        <div class="card-title">{{this.university_data[i]?.location}}</div>
                        <div class="card-university mat-body-strong">{{this.university_data[i]?.name}}</div>
                        <div class="card-circle"></div>
                        <div class="card-inner_circle">
                            <img class="image-eindhoven_logo" [src]="this.university_data[i]?.icon" alt="tu_eindhoven logo">
                        </div>
                    </div>
                </ng-container>
            </ng-template>
        </div>

        <button mat-stroked-button class="show_events" color="accent" type="button" (click)="this.show_all_events()">
            {{this.show_events_str}}
            <mat-icon class="show-icon">apps</mat-icon>
        </button>
    </div>
</div>