.mat-icon {
    padding: 0px 14px;
    color: rgba(255, 255, 255, 1);
    transition: color 0.25s ease;
}

.mat-icon:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    flex-direction: column;
}

.sidenav-content-container {
    color: white;
    margin-top: 75px;
    background-color: rgba(48, 48, 48, 0.6);
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.admin-welcome {
    margin-top: 50px;
    margin-bottom: 0px;
    color: #69f0ae;
    font-size: 30px;
}

.admin-text {
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.7);
}

.admin-box {
    padding: 16px;
    background-color: rgba(48, 48, 48, 0.6);
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}

.admin-box:hover {
    background-color: rgba(105, 240, 174, 0.75);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.admin-box-text {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.admin-box-title-icon {
    transform: scale(1.25);
}

.admin-container {
    color: white;
    margin-top: 20px;
}

@media screen and (max-width: 599px) {
    .sidenav-content-container {
        margin-top: 25px;
    }
    .admin-panel {
        font-size: 35px;
    }
    .admin-welcome {
        margin-top: 20px;
        font-size: 20px;
    }
    .admin-text {
        font-size: 16px;
        line-height: 25px;
    }
    .admin-box-text {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
    .admin-box-title {
        font-size: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .admin-box-title-icon {
        transform: scale(1);
    }
    .admin-container {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 1279px) {
    .admin-container {
        color: white;
        margin-left: 20px;
        margin-right: 20px;
    }
    .sidenav-content-container {
        color: white;
        padding: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .admin-container {
        color: white;
        max-width: 2400px;
        margin-left: 75px;
        margin-right: 75px;
    }
    .sidenav-content-container {
        color: white;
        padding: 16px;
        max-width: 2400px;
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media screen and (min-width: 1920px) {
    .admin-container {
        color: white;
        margin-left: 75px;
        margin-right: 75px;
    }
    .sidenav-content-container {
        color: white;
        padding: 16px;
        margin-left: 75px;
        margin-right: 75px;
    }
}